{% extends "base.jinja" %}
{%- block headextensions %}
        {%- if machine_statuses and machine_statuses is mapping %}
        <noscript>
            <meta http-equiv="refresh" content="10">
        </noscript>
        <script type="text/javascript" src="{{ url_for('static', filename='js/alive.js') }}"></script>
        {%- endif %}
{%- endblock %}
{%- block content %}
            {%- if machine_statuses and machine_statuses is mapping %}
            <table class="alive-table">
                <tbody>
                {%- for role, machine_statuses_for_role in machine_statuses.items() %}
                    {%- for hostname, machine_status in machine_statuses_for_role.items() %}
                    <tr id="tr-{{ hostname }}" class="hostname">
                        <td>
                            <h3><a href="{{ url_for('alive_hostname', hostname=hostname) }}">{{ hostname }}</a></h3>
                        </td>
                        <td colspan="2">{{ role }}</td>
                    </tr>
                    <tr id="tr-{{ hostname }}-stats" class="stats">
                        <td>Seen <span class="last-seen-ago" total-seconds="{{ machine_status['last_seen_ago'] }}">{{ machine_status["last_seen_ago_string"] }}</span> ago</td>
                        {%- if machine_status.get("uptime_string") %}
                        <td>Up {{ machine_status["uptime_string"] }}</td>
                        {%- else %}
                        <td>--</td>
                        {%- endif %}
                        <td></td>
                    </tr>
                    {%- if machine_status.get("details") and machine_status["details"] is mapping %}
                    <tr id="tr-{{ hostname }}-details" class="details">
                        <td colspan="3">
                            <ul>
                            {%- for field, value in machine_status["details"].items() %}
                            {%- if field.startswith("#") and not value %}
                                <li><strong>{{ field.lstrip("#").lstrip() }}</strong></li>
                            {%- elif value.replace(".", "", 1).replace("%", "", 1).isdecimal() and value.endswith("%") %}
                                <li>{{ field }}: <progress value="{{ value[:-1] }}" max="100"></progress> {{ value }}</li>
                            {%- else %}
                                <li>{{ field }}: {{ value }}</li>
                            {%- endif %}
                            {%- endfor %}
                            </ul>
                        </td>
                    </tr>
                    {%- endif %}
                    {%- endfor %}
                {%- endfor %}
                </tbody>
            </table>
            {%- else %}
            <p>Nothing here...</p>
            {%- endif %}
{%- endblock %}
