<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <meta property="og:title" content="{{ title }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ url_for('static', filename='img/favicon.png') }}">
        <meta property="og:url" content="https://youtu.be/dQw4w9WgXcQ">
        <meta property="og:description" content="Personal website">
        <link rel="stylesheet" type="text/css" href="{{ url_for('css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
        <script type="text/javascript" src="{{ url_for('js') }}"></script>
        {%- block headextensions %}
        {%- endblock %}
    </head>
    <body>
        <main>
            <h1>{{ title }}</h1>
            {%- if config.get("NAVBAR_LINKS") and config.get("NAVBAR_LINKS") is mapping %}
            <nav>
                <ul>
                {%- for endpoint, link_text in config["NAVBAR_LINKS"].items() %}
                    <li>
                        {%- if request.endpoint == endpoint %}<strong>{% endif -%}<a href="{{ url_for(endpoint) }}">{{ link_text }}</a>{%- if request.endpoint == endpoint %}</strong>{% endif -%}
                    </li>
                {%- endfor %}
                </ul>
            </nav>
            {%- endif %}
            {%- if time_updated %}
            <span id="last-updated-wrapper">Last updated: <time id="last-updated" datetime="{{ time_updated }}">{{ time_updated }}</time></span>
            {%- endif %}
            {%- block content %}
            {%- endblock %}
        </main>
        <div id="theme-form-wrapper">
            <form id="theme-form" action="{{ url_for('set_theme') }}" method="POST">
                <span id="theme-select-wrapper">
                    <label for="theme-select">Theme:</label>
                    <select id="theme-select" name="theme">
                        <option id="theme-auto" class="theme-option" value="auto"{%- if session.get("theme_name") is none %} selected{%- endif -%}>Auto</option>
                        <option id="theme-light" class="theme-option" value="light"{%- if session.get("theme_name") == "light" %} selected{%- endif -%}>Light</option>
                        <option id="theme-dark" class="theme-option" value="dark"{%- if session.get("theme_name") == "dark" %} selected{%- endif -%}>Dark</option>
                    </select>
                    <label id="theme-select-label" for="theme-select">⏶</label>
                </span>
                <span id="contrast-wrapper">
                    <label for="contrast">Contrast:</label>
                    <input id="contrast" name="contrast" type="range" min="0" max="200" step="10" value="{{ session.get('contrast', 100) }}">
                </span>
                <noscript>
                    <input id="theme-submit" type="submit" value="Set">
                </noscript>
            </form>
        </div>
    </body>
</html>
