@font-face {
    font-family: Aileron;
    src: url("/static/fonts/Aileron-Regular.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: Aileron;
    src: url("/static/fonts/Aileron-Bold.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
    font-family: Raleway;
    src: url("/static/fonts/Raleway-Light.woff2") format("woff2");
    font-weight: lighter;
}
:root {
    --link-color: #07a;
    --visited-link-color: #941352;
}
{%- if not theme_name %}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: {{ dark_theme[0] }};
        --text-color: {{ dark_theme[1] }};
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --background-color: {{ light_theme[0] }};
        --text-color: {{ light_theme[1] }};
    }
}
{%- elif theme_name == "dark" %}
:root {
    --background-color: {{ dark_theme[0] }};
    --text-color: {{ dark_theme[1] }};
}
{%- else %}
:root {
    --background-color: {{ light_theme[0] }};
    --text-color: {{ light_theme[1] }};
}
{%- endif %}
html {
    background: var(--background-color);
    {%- if session.get("contrast") is number %}
    filter: contrast({{ [session.get("contrast"), 10] | max }}%);
    {%- endif %}
}
{%- if session.get("contrast") is none %}
@media (prefers-contrast: less) {
    html {
        filter: contrast(50%);
    }
}
@media (prefers-contrast: more) {
    html {
        filter: contrast(200%);
    }
}
{%- endif %}
body {
    margin: 4em auto;
    padding: 1em;
    max-width: 800px;
    color: var(--text-color);
    font-family: Aileron, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}
main {
    padding-bottom: 4em;
}
nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
}
nav > ul > li {
    padding-inline-end: 1em;
}
#last-updated-wrapper {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
p, h1, h2, h3 {
    padding: 0;
    margin: 0 0 0.5em 0;
}
h1, h2, h3 {
    font-family: Raleway, sans-serif;
    font-weight: lighter;
}
h1 {
    font-size: 3em;
}
h2 {
    padding-block-start: 0.25em;
    font-size: 2em;
}
a {
    color: var(--text-color);
}
h1 a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}
#theme-form-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    outline: 1px solid var(--text-color);
    padding: 0.25em;
    background: var(--background-color);
    text-align: center;
}
#theme-form-wrapper label {
    padding: 0.25em;
}
#theme-form-wrapper > form > * {
    display: inline-block;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}
input,
select {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: var(--text-color);
    font-family: Aileron, sans-serif;
    font-size: 1em;
    color: var(--background-color);
}
input[type="range"] {
    width: 8em;
    border: 1px solid var(--text-color);
    height: 4px;
    background: linear-gradient(to right,
        transparent,
        transparent calc(50% - 1px),
        var(--text-color) calc(50% - 1px),
        var(--text-color) calc(50% + 1px),
        transparent calc(50% + 1px));
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    shadow: none;
    outline: none;
    border: 0;
    border-radius: 0;
    width: 0.5em;
    height: 1em;
    background: var(--text-color);
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    appearance: none;
    shadow: none;
    outline: none;
    border: 0;
    border-radius: 0;
    width: 0.5em;
    height: 1em;
    background: var(--text-color);
    cursor: pointer;
}
select,
input[type="submit"] {
    padding: 0.5em;
    min-width: 3em;
}
#theme-select {
    padding-inline-end: 1.5em;
}
#theme-select-wrapper {
    position: relative;
}
#theme-select-label {
    position: absolute;
    right: 0;
    color: var(--background-color);
}
table {
    border-spacing: 0;
}
tr.hostname:not(:first-child) > td {
    padding-block-start: 0.25em;
    border-block-start: 1px solid var(--text-color);
}
tr.details > td {
    padding-block-end: 0.25em;
}
td h3 {
    margin: 0;
    font-weight: bold;
}
th, td {
    padding-inline-end: 1em;
    text-align: left;
    vertical-align: top;
}
th:not(:last-child), td:not(:last-child) {
    white-space: nowrap;
}
th:last-child, td:last-child {
    width: 100%;
}
table ul {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 1em;
}
progress {
    border: 1px solid var(--text-color);
    width: calc(100% - 10em);
    height: 1em;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
    outline: 1px solid var(--text-color);
    background-image: radial-gradient(var(--text-color) 25%, transparent 25%),
                      radial-gradient(var(--text-color) 25%, transparent 25%);
    background-color: transparent;
    background-position: 0 0, 2px 2px;
    background-size: 4px 4px;
}
progress::-moz-progress-bar {
    outline: 1px solid var(--text-color);
    background-image: radial-gradient(var(--text-color) 25%, transparent 25%),
                      radial-gradient(var(--text-color) 25%, transparent 25%);
    background-color: transparent;
    background-position: 0 0, 2px 2px;
    background-size: 4px 4px;
}
input[type="number"] {
    width: 5em;
}
a:hover,
:focus,
input:hover,
select:hover {
    outline: 2px dashed var(--text-color);
}
