{% extends "base.jinja" %}
{%- block content %}
            <h2>Hi</h2>
            <p>This is my website. I do coding for work and fun.</p>
            <p>Some actual content will go here eventually.</p>
            <p>You can find me on GitLab <a href="https://gitlab.com/n303p4/">here</a>.</p>
{%- endblock %}