window.addEventListener("load", () => {

{%- if session.get("theme_name") is none or session.get("contrast") is none %}

let updateTheme;

{%- if session.get("theme_name") is none %}
let themeName = localStorage.getItem("themeName");
if (themeName === "light") {
    document.getElementById("theme-select").options.selectedIndex = 1;
    updateTheme = true;
}
else if (themeName === "dark") {
    document.getElementById("theme-select").options.selectedIndex = 2;
    updateTheme = true;
}
{%- endif %}

{%- if session.get("contrast") is none %}
let contrastValue = localStorage.getItem("contrast");
if (contrastValue) {
    document.getElementById("contrast").value = contrastValue;
    updateTheme = true;
}
{%- endif %}

if (updateTheme) {
    document.getElementById("theme-form").submit();
}
{%- endif %}

function saveSettings() {
    let contrastValue = document.getElementById("contrast").value;
    localStorage.setItem("contrast", contrastValue);
    let themeName = document.getElementById("theme-select").value;
    localStorage.setItem("themeName", themeName);
}

document.getElementById("theme-form").onchange = () => {
    saveSettings();
    document.getElementById("theme-form").submit();
}
document.getElementById("theme-form").onsubmit = saveSettings;

});